# Creating data visualiztion for Cvoid-19 cases and deathes by country

In [1]:
import numpy as np
import pandas as pd
import csv
import datetime

# data pre-processing

In [2]:
# input data from time-series-19-covid-combined.csv
fpath = r'C:\P\VisualizationForCovid-19\data\time-series-19-covid-combined.csv'
csvFile = open(fpath)
reader = csv.reader(csvFile)

result = []
for item in reader:
    if reader.line_num == 1: # skip first line
        continue
    result.append(item)
    
csvFile.close()
#result
for item in result:
    for i in range(3,6):
        if item[i] != '':
            item[i] = int(item[i])
        else:
            item[i] = 0

# using DataFrame
df = pd.DataFrame(data = result,columns=['Time','Country/Region','Province/State','Confirmed','Recovered','Deaths'])
# string to time
df['Time']=pd.to_datetime(df['Time'])
# clean none data
df.dropna()
df

             Time Country/Region Province/State  Confirmed  Recovered  Deaths
0      2020-01-22    Afghanistan                         0          0       0
1      2020-01-23    Afghanistan                         0          0       0
2      2020-01-24    Afghanistan                         0          0       0
3      2020-01-25    Afghanistan                         0          0       0
4      2020-01-26    Afghanistan                         0          0       0
...           ...            ...            ...        ...        ...     ...
108376 2021-02-17       Zimbabwe                     35423      31615    1418
108377 2021-02-18       Zimbabwe                     35543      31821    1420
108378 2021-02-19       Zimbabwe                     35710      31972    1430
108379 2021-02-20       Zimbabwe                     35768      32096    1432
108380 2021-02-21       Zimbabwe                     35796      32125    1436

[108381 rows x 6 columns]

# Count how many days and countries/regions

In [3]:
countries = len(df['Country/Region'].unique())
days = len(df['Time'].unique())

# Creating three DataFrame to store data for confirmed, recovered and death

In [7]:
df_C = pd.DataFrame(data = [[0]*countries]*days, index=df['Time'].unique(), columns=df['Country/Region'].unique())
df_R = pd.DataFrame(data = [[0]*countries]*days, index=df['Time'].unique(), columns=df['Country/Region'].unique())
df_D = pd.DataFrame(data = [[0]*countries]*days, index=df['Time'].unique(), columns=df['Country/Region'].unique())

In [8]:
grouped = df.groupby(by=['Country/Region','Time']).sum()
grouped

                           Confirmed  Recovered  Deaths
Country/Region Time
Afghanistan    2020-01-22          0          0       0
               2020-01-23          0          0       0
               2020-01-24          0          0       0
               2020-01-25          0          0       0
               2020-01-26          0          0       0
...                              ...        ...     ...
Zimbabwe       2021-02-17      35423      31615    1418
               2021-02-18      35543      31821    1420
               2021-02-19      35710      31972    1430
               2021-02-20      35768      32096    1432
               2021-02-21      35796      32125    1436

[76224 rows x 3 columns]

In [9]:
for i in range(countries):
    data1 = list(grouped.iloc[ days*i:days*(i+1),0])
    data2 = list(grouped.iloc[ days*i:days*(i+1),1])
    data3 = list(grouped.iloc[ days*i:days*(i+1),2])
    df_C.iloc[0:days,i] = data1
    df_R.iloc[0:days,i] = data2
    df_D.iloc[0:days,i] = data3
    
df_C = df_C.T
df_R = df_R.T
df_D = df_D.T

# Output data

In [183]:
outpathC = r'C:\P\VisualizationForCovid-19\Outputdata\Cases_byCountries.csv'
outpathR = r'C:\P\VisualizationForCovid-19\Outputdata\Recover_byCountries.csv'
outpathD = r'C:\P\VisualizationForCovid-19\Outputdata\Death_byCountries.csv'
df_C.to_csv(outpathC)
df_R.to_csv(outpathR)
df_D.to_csv(outpathD)